body {
  background-color: antiquewhite;
  margin: 0;
}

body>h1 {
  text-align: center;
}

#root {
  align-items: center;
  display: inline-block;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
}

main {
  width: 100vw;
}

form {
  display: inline-block;
  width: 20%;
  margin-left: 3rem;
}

.smiley {
  background: linear-gradient(135deg, rgb(255, 233, 25) 0%, rgb(251, 192, 0) 100%);
  border-radius: 100%;
  padding: 25px;
  position: absolute;
  width: 100px;
  height: 100px;
  left: 50%;
  top: 70%;
  transform: translateX(-50%) translateY(calc(-50% - 121px));
  box-shadow: rgba(211, 165, 110, 0.498039) 0px 30px 30px 1px, rgb(245, 245, 245) 0px 20px 10px 1px;
}


.mouth {
  width: 60%;
  height: 30%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  box-sizing: border-box;
  position: absolute;
  bottom: 18%;
  left: 50%;
  margin-left: -30%;
  background: #B57700;
  transition: all .3s;
}

.eyes {
  width: 80%;
  margin: 15% auto 0 auto;
  box-sizing: border-box;
  padding: 0 5px;
}

.eye {
  width: 20px;
  height: 20px;
  background: #B57700;
  float: left;
  border-radius: 100%;
  position: relative;
}

.eyes .eye:nth-of-type(2) {
  float: right;
}

.eyes .eye::after {
  content: "";
  display: block;
  position: absolute;
  width: 0%;
  height: 0%;
  background: #fed800;
  transform: rotate(0deg);
  top: -15px;
  left: 5px;
}

.eyes .eye:first-of-type::after {
  left: auto;
  right: 5px;
}
